/*
     FILE ARCHIVED ON 19:12:39 Apr 13, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 0:49:00 Nov 18, 2015.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/

/* Base Elements */
* { margin: 0; padding: 0; outline: 0 }

body {
	font: 11px/165% "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
	color: #444; 	
	margin: 0; padding: 0 0 50px 0;
	background: #000; 
	/*background: #070707;*/
	text-align: center;
}

#leaves {
	background: #d4dfce url({{ site.url }}/assets/wrap-bg.jpg) center top repeat-x; /*top image*/	
	margin-top: 5px;
	margin: 0 auto;
	/*background: #070707;  c1bcb1  afbe9f cdd3c5   d3e3f1*/
}

#leaves2 {
	background:  url({{ site.url }}/assets/leaf2.jpg) no-repeat bottom; /*shows outside leaves*/	
	margin: 0 auto;
	margin-top: 5px;
	/*background: #070707;  c1bcb1  afbe9f cdd3c5*/	
}

#leaf {
	background:  url({{ site.url }}/assets/leaf3.png) no-repeat bottom; /*shows inside leaves*/	
	margin: 0 auto;
	margin-top: 0px;
	/*background: #070707;  c1bcb1  afbe9f cdd3c5*/	
}

#decbar {
	background: url("{{ site.url }}/assets/floral4.png") repeat-x #E6E3D0;
	height:35px;
	width: 940px;
	margin: 0 auto;
}

/* Links */
a {
	text-decoration: none;
	color: #A56F38; 	
}
a:hover {
	background: #F0f0f0; 
	color: #000;
	border-bottom: 1px dotted #000;
}

/* Headers */
h1, h2, h3, h4 {
	font: bold 1em/1.5em "Trebuchet MS", Tahoma, Arial, Sans-serif;
	color: #111;
	padding: 0px 10px 5px 15px;
	margin: 0;
}

h1 {
	font-size: 345%;	
	font-weight: normal;
	letter-spacing: -2px;	
}

h2 {
	font-size: 200%;
	color: #663333;	
	background: url("{{ site.url }}/assets/flora5.png") no-repeat ;
	padding-left:36px;
	margin-top:15px;
	margin-left:10px;
}

h3 {
	font-size: 160%;
	font-weight: normal;	
	margin-top: 10px;
}

h4 {
	font-size: 120%;
	font-weight: bold;
	margin-top: 10px;	
}

/* Other tags */
p, dl { padding: 5px 15px; margin: 0; }

hr { margin: 15px; }

ul, ol {
	margin: 10px 20px;
	padding: 0 20px;
}

.deflist span {
font-weight: bold;
color: #996633
}

acronym {
  	cursor: help;
  	border-bottom: 1px dotted #895F30;
}

blockquote {
	margin: 15px 10px;
 	padding: 15px 15px 15px 15px;  
    border: 1px solid #F0F0F0;
	background: #F0F0F0 url(/web/20150413191239/http://eastwind.org/images/quote.jpg) no-repeat 10px 10px;
	font-weight: normal;
	font-size: 13px;
	line-height: 1.6em;
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;	
	color: #555;	
}

code {
  	margin: 5px 0;
  	padding: 15px;
  	text-align: left;
  	display: block;
  	overflow: auto;  
  	font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace ;
  	/* white-space: pre; */
  	border: 1px solid #EBEBEB;
	background: #F0F0F0;  
}

/*ul { list-style: none; }*/

dt {
  	font-weight: bold;
  	color: #895F30;
}

dd {
  	padding-left: 25px; 
}

/* Images */
img {
	background: #fafafa;
    border: 1px solid #dcdcdc;
	padding: 8px;
}

img.float-right, div.float-right {
  	margin: 5px 0px 1px 10px;  
	float: right;
}

img.float-left, div.float-left {
  	margin: 5px 10px 1px 0px;
	float: left;
}

div.float-right {
  	margin-right: 15px;
}

div.float-left {
  	margin-left: 15px ;
}

.caption {
	margin: 0px;
	color: #275425;
	font-style:italic;
	/*text-align:left;*/
}

.pix {
margin: 10px;
}

.bylaws {
color: #275425;
font-weight:bold;
margin: 20px;
}

div.float-left p, div.float-right p {

clear:both; 
margin: 0; 
padding-bottom:0;

}

/* table */
table {
	border-collapse: collapse;
	margin: 15px 10px;	
}

th {
	color: #555;
	background: #E6E6E6;
	height: 38px;
	padding-left: 12px;
	padding-right: 12px;
	text-align: left;	
	
	border-width: 1px;
  	border-style: solid;
  	border-color: #ebebeb #d4d4d4 #d4d4d4 #ebebeb;	
}

tr {
	height: 34px;	
	background: #fff;
}

td {
	padding-left: 11px;
	padding-right: 11px;
	border: 1px solid #ECECEC;	
}	


/* form elements */
form {
	margin: 15px 10px; padding: 5px 10px 20px 10px;
	border: 1px solid #f1f1f1; 
	background: #fdfdfd; 	
}

label {
	display: block;
	font-weight: bold;
	margin: 8px 0 5px 0;
	color: #895F30;
}

input, select {
	padding: 4px;
	font: normal 1em Verdana, sans-serif;
	color: #666666;
	background: #fff;  	
}
textarea {
	width: 350px;
	padding: 4px;
	font: normal 1em Verdana, sans-serif;
	height: 100px;
	display: block;
	color: #666666;
}

input, textarea, select {
	background: #fff;
  	border-width: 1px;
  	border-style: solid;
  	border-color: #D4D4D4 #ebebeb #ebebeb #d4d4d4; 
}

input.button { 
	font: bold 12px Arial, Sans-serif; 
	height: 30px;
	margin: 0;
	padding: 2px 3px; 
	color: #555;
	background: #E6E6E6;
	
	border-width: 1px;
  	border-style: solid;
  	border-color: #ebebeb #d4d4d4 #d4d4d4 #ebebeb;
}


/* content LAYOUT */ 

#wrap {
	padding-top:20px;
	/*background:   url(/web/20150413191239/http://eastwind.org/images/bg.png) repeat-x; */
}

#wrap2 {
	width: 980px;
	margin: 0 auto;	
	text-align: left;
}

/* header */ 

#header-wrap {
	position: relative;
	background: #fff;
	margin: 0 auto;
	width: 940px;
	/*height: 308px;*/
	text-align: left;	
	margin-bottom: 2px;
}

*#header-photo {
	position: relative;
	top: 4px; left: 4px;	
	padding: 0;	
/*	height:304px; */
	width: 932px;	
/*	height:290px; 
	width: 890px;*/
	/*clear: both;*/
	/* border: 1px solid #F0F0F0; */
}

#header-photo img {
	border: none;
	margin: 0; padding: 0;
} 


/*  content */ 

/*#top {
	width: 980px;
	height: 20px;
	background: url(/web/20150413191239/http://eastwind.org/images/top.png); 	
}*/

#content {
	float: left;
	width: 980px;
	background: url({{ site.url }}/assets/shadow.png) repeat-y; 
}

/*#content-shadow {
	width: 980px;
	margin: 0 auto;	
	margin-top: 15px;
	background: url(/web/20150413191239/http://eastwind.org/images/DesignElements/shadow2.png) repeat-y; 
}*/

.col-one {
	float: left;
    margin: 0;
    padding: 0;
    width: 20%;
	padding-left: 25px;
}

.col-two {
	float: left;
	width: 69%;
	margin-top: 12px;
	border-left: dashed thin #aaa;
}

.col-one, .col-two {
	padding-bottom: 20px;
}

#content .col-one h2 {
	padding-bottom: 3px;
	font: normal 3.4em "Trebuchet MS", Tahoma, Arial, Sans-serif;
	color: #000;
    line-height: 1.1;
	letter-spacing: -2px;	
	text-transform: none;
	border-bottom: 1px solid #ebebeb;	
	margin-left: 5px;
	padding-left: 5px;
}

#content .col-one h2 a {
	color: #000;
	text-decoration: none;	
	background: none; 
	border: none;
}

/* 3 col layout */
.col-two2 {
	float: left;
	width: 45%;
	margin-top: 17px;
	border-left: dashed thin #aaa;
	padding-bottom: 20px;
}

.col-3 {
	float: left;
	width: 12%;
	margin-top: 22px;
	border-left: dashed thin #aaa;
}

/* footer */
#footer-wrapper {
	clear: both;
	width: 100%;
	margin: 0 auto;
	text-align: left;
	font: normal 1em/1.6em 'Trebuchet MS', Tahoma, Sans-serif;	
	background:#000000;		
}

#footer-wrapper h3, #footer-wrapper p {
	padding-left: 0;
}

#footer-wrapper h3 {
	font: normal 1.6em/1.6em 'Trebuchet MS', Tahoma, Arial, Sans-serif;
	color: #ABABAB;	
}

#footer-wrapper a {
	color: #fff;
	background: transparent;
}

#footer-wrapper img { padding: 7px; }

#footer-wrapper ul.footer-list {
	border-top: 1px solid #111;
	list-style: none;
	padding: 0;	
	margin-left: 0;	
}

#footer-wrapper ul.footer-list li {
	border-bottom: 1px solid #111;
}

#footer-wrapper ul.footer-list li a {
	display: block;
	width: 98%;
	line-height: 2em;
	font-weight: bold;
	padding: 4px 0;
	border: none;
	margin-left: 0;
	padding-left: 0;
	color: #666666;
}

#footer-wrapper ul.footer-list li a span {
	color: #444;
	font-style: italic;
	font-weight: normal;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

#footer-wrapper ul.footer-list li a:hover,
#footer-wrapper ul.footer-list li a:hover span {
	color: #fff;
	text-decoration: none;	
}

#footer {
	float: left;	
	width: 100%;	
	padding: 0;				
	margin-left: 5px;	
	margin-top: 10px;
	background:
}

#footer-bottom {
	clear: both;
	border-top: 1px solid #111;
	width: 880px;
	margin: 0 auto;	
}

#footer-bottom .bottom-left {
	float: left;
	padding-left: 0;
	color:#888;
}

#footer-bottom .bottom-right {
	text-align: right;
	padding-right: 0;
}


/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }

/* clearing */
.clearer { clear: both; }
.clear {	display:inline-block; }
.clear:after {
	display:block; 
	visibility:hidden; 
	clear:both; 
	height:0; 
	content: "."; 
}


/* sidebar */
#sidebar {
	float: left;
	margin: 0;	padding: 0; 
	display: inline;		
}

#sidebar h4{
	font: bold 1em/1em "Trebuchet MS", Tahoma, Arial, Sans-serif;
	color: #111;
	padding: 10px 0px 0px 15px;
	margin: 0;
	font-size: 170%;
	
}

#sidebar h3{
	font: bold 1em/1em "Trebuchet MS", Tahoma, Arial, Sans-serif;
	color: #333;
	padding: 5px 0px 5px 5px;
	margin: 0;
	font-size: 130%;
	font-weight: bold;
}

#sidebar ul.sidemenu {
	list-style:none;
	margin:10px 0 10px 15px;
	padding:0;
	width: 165px;		
}

#sidebar ul.sidemenu li {
	margin-bottom:1px;
	border: 1px solid #f2f2f2;
}

#sidebar ul.sidemenu a {
	display:block;
	font-weight:bold;
	color: #333;	
	text-decoration:none;	
	padding:3px 5px 3px 10px;
	background: #ddd; /*#f2f2f2;*/
	/*background: url(/web/20150413191239/http://eastwind.org/images/trans2.gif) ;*/ 
	opacity:0.8;
	filter: alpha(opacity=80); 
	border-left:4px solid #bbb;	
	min-height:18px;
}

#sidebar ul.sidemenu2 {
	list-style:none;
	margin:0px 0 0px 25px;
	padding:0;		
}

#sidebar ul.sidemenu2 li {
	margin-bottom:1px;
	border: 1px solid #f2f2f2;
}

#sidebar ul.sidemenu2 a {
	display:block;
	font-weight:bold;
	color: #333;	
	text-decoration:none;	
	padding:3px 5px 3px 10px;
	background: #ddd; /*#f2f2f2; #b4c3b8*/
	/*background: url(/web/20150413191239/http://eastwind.org/images/trans2.gif) ;*/ 
	opacity:0.8;
	filter: alpha(opacity=80); 
	border-left:4px solid #aaa;	
	min-height:18px;
}

* html body #sidebar ul.sidemenu a { height: 15px; }

#sidebar ul.sidemenu a:hover,
body#index ul.sidemenu li a.index,
body#govt ul.sidemenu li a.govt,
body#culture ul.sidemenu li a.culture,
body#history ul.sidemenu li a.history,
body#common ul.sidemenu li a.common,
body#civic ul.sidemenu li a.civic,
body#ozarks ul.sidemenu li a.ozarks,
body#nutbutter ul.sidemenu li a.nutbutter,
body#garden ul.sidemenu li a.garden,
body#ranch ul.sidemenu li a.ranch,
body#forestry ul.sidemenu li a.forestry,
body#house ul.sidemenu li a.house,
body#comptoil ul.sidemenu li a.comptoil,
body#rec ul.sidemenu li a.rec,
body#visit ul.sidemenu li a.visit,
body#labor ul.sidemenu li a.labor,
body#herbs ul.sidemenu li a.herbs,
body#kitchen ul.sidemenu li a.kitchen,
body#maintenance ul.sidemenu li a.maintenance,
body#links ul.sidemenu li a.links,
body#contact ul.sidemenu li a.contact

 {
	padding:3px 5px 3px 10px;
	background: #eee;
	color: #339900;
	border-left:4px solid #9EC630;
	border-bottom:none;
}

/*thumbnails*/
.thumbnail{
position: relative;
z-index: 0;
}

.thumbnail:hover{
background-color: transparent;
z-index: 50;
}

.thumbnail span{ /*CSS for enlarged image, thumbnail not being hovered over*/
position: absolute;
background-color: white;
padding: 5px;
left: -1000px;
border: 1px solid gray;
visibility: hidden;
color: black;
text-decoration: none;
z-index:100;
}

.thumbnail span img{ /*CSS for enlarged image*/
border-width: 0;
padding: 2px;
}

.thumbnail:hover span{ /*CSS for enlarged image on hover, hor. row thumbnails--enlarged pic goes to right*/
visibility: visible;
top: -10;
left: 50px; /*position where enlarged image should offset horizontally */
}

/*.pix */.thumbnail:hover span.pix-toleft { /*CSS for enlarged image on hover, for hor. row of thumbnails, make big image go to left*/
visibility: visible;
top: -10;
left: -450px; /*position where enlarged image should offset horizontally */
}

/*.pix */.thumbnail:hover span.pix-toleftv { /*CSS for enlarged image on hover, for hor. row of thumbnails, if photo is vertical and big version needs to go left*/
visibility: visible;
top: -10;
left: -350px; /*position where enlarged image should offset horizontally */
}

.pix2 .thumbnail:hover span { /*CSS for enlarged image on hover, for column on right*/
visibility: visible;
top: -10;
left: -500px; /*position where enlarged image should offset horizontally */
}

.pix2 .thumbnail:hover span.vertpic { /*CSS for enlarged image on hover, for column on right, vertical images*/
visibility: visible;
top: -10;
left: -360px; /*position where enlarged image should offset horizontally */
}

.thumbnail:hover span.pix-toleft, .thumbnail:hover span, .thumbnail:hover span.vertpic, .thumbnail:hover span.pix-toleftv 
{
color: #275425;
font-style:italic;
}

p.thumbcol { 
width: 100px;
padding: 0; 
margin: 0; 
color: #A56F38;
font-weight:bold;
}

p.thumb { 
padding: 0; 
margin-left: 10px; 
color: #A56F38;
font-weight:bold;
}
