<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{{ page.title }}</title> 

        <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

        <link rel="stylesheet" href="{{ site.baseurl }}/css/stylesheet.css" >
    </head>
    <body>
        
        
<div id="leaves">
<div id="leaves2">

<!-- content starts -->
<div id="wrap">
	
<div id="wrap2">
       <div id="top">
       </div>
        
		<div id="content">
        
        <!-- header -->
	    

				
		<div id="header-wrap">			
				
		<div id="header-photo">
	<img src="images/DesignElements/head.jpg" />
	    </div>
		
<!-- header ends here -->
	</div> 
        <div id="decbar">
        </div>
        <!-- column-one -->
