<div id="sidebar" >							
				
			<h4>Our Community</h4>
			<ul class="sidemenu">
				<li><a class="index" href="index.php">Home</a></li>
				
				<li><a class="govt" href="govt.php">Government</a></li>
                <li><a class="culture" href="culture.php">Culture &amp; Philosophy</a></li>
				<li><a class="common" href="commonspaces.php">Communal Living</a></li>
               
                
				<li><a class="history" href="history.php">History</a></li>
                <li><a class="ozarks" href="ozarks.php">Our Land</a></li>
                <li><a class="civic" href="civic.php">Civic Support</a></li>
                <li><a class="rec" href="rec.php">Recreation</a></li>
                <li><a class="rec" href="/web/20150905150337/http://www.eastwindcommunityupdates.blogspot.com/">Blog</a></li>
			</ul>		
			
             
             	<h4>Our Work</h4>
            <ul class="sidemenu">
            <li><a class="labor" href="labor.php" >Labor Structure</a></li>
                <li><a class="nutbutter" href="nutbutter.php" >Businesses</a></li>
                <li><a class="forestry" href="forestry.php">Forestry</a></li>
                 
                   <li><a class="garden" href="garden.php">Garden &amp; Orchard</a></li>
                    <li><a class="herbs" href="herbs.php">Herb Garden</a></li>
                     <li><a class="ranch" href="ranch.php">Ranch</a></li>
                       <li><a class="comptoil" href="comptoil.php">Comptoil</a></li>
                       <li><a class="kitchen" href="kitchen.php">Kitchen</a></li>
                    <li><a class="maintenance" href="maintenance.php"> House &amp; Maintenance</a></li>
                	
               
            </ul>
					
                    
            <h4>Visit Us</h4>
            <ul class="sidemenu">
                <li><a class="visit" href="visit.php">Visitor Program</a></li>
                <li><a class="member" href="member.php">Membership</a></li>
            </ul>	
            
            <h4>Other Resources</h4>
            <ul class="sidemenu">
                <li><a class="links" href="links.php">Links</a></li>
                <li><a class="store" href="/web/20150905150337/http://eastwindcrafts.3dcartstores.com/">Online Store</a></li>
                <li><a class="contact" href="contact.php">Contact Us</a></li>
            </ul>	
		
		</div>
